


@{
    ViewData["Title"] = "WithdrawAndDeposit";
}

@model HietalasALMBank.Models.WithdrawDepositViewModel


<h2>Uttag och insättning</h2>

<form asp-route-accountNumber="" asp-route-amount="" method="post">
    <span class="bg-danger"> @TempData["responseFailed"]</span>
    <span class="bg-success"> @TempData["responseSuccess"]</span><br />

    Kontonummer:  <br />

    <input type="text" name="AccountNumber" value=@Model.AccountNumber /><br />

    Summa:<br />

    <input type="text" name="Amount" value="@Model.Amount" /><br /><br />

    <input class="btn-success" type="submit" value="Insättning" name="Deposit"  formaction="Deposit" />
    <input class="btn-danger"  type="submit" value="Uttag"      name="Withdraw" formaction="Withdraw" />
</form>


